{include file="common/head"/}
<style>
    /**聊天样式**/
    .chat {
        width: 96%;
        height: 87vh;
        overflow-y: auto;
        margin: auto;
    }

    .chatItem {
        width: 100%;
        margin-top: 10px;
        min-height: 30px;
        color: #000;
    }

    .chatItemList {
        width: 100%;
        float: left;
        position: relative;
    }

    .triangle {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 10px solid #FFF;
        position: absolute;
        left: 0;
        top: 5px;
    }

    .chatBubble {
        max-width: 70%;
        float: left;
        padding: 10px 10px;
        background-color: #FFF;
        font-size: 14px;
        border-radius: 10px;
        margin-left: 5px;
        white-space: normal;
    }

    .triangleMy {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 10px solid #98E165;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 5px;
    }

    .chatBubbleMy {
        max-width: 70%;
        float: right;
        padding: 10px 10px;
        background-color: #98E165;
        font-size: 14px;
        border-radius: 10px;
        white-space: normal;
        margin-right: 5px;
    }

    .chatEnter {
        width: 100%;
        min-height: 64px;
        border-top: 1px solid #E1E1E1;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
    }

    .chatEnterFrame {
        width: 85%;
        height: 40px;
        margin-top: 5px;
        margin-left: 10px;
        background-color: #FFF;
        border-radius: 5px;
        text-indent: 5px;
        /* border: 1px solid #E1E1E1; */
    }

    .chatPhiz {
        height: 40px;
        margin-top: 5px;
        margin-right: 15px;
        font-size: 25px;
        color: #12A3E4;
    }

    .chatBox {
        width: 100%;
        height: 100vh;
        background-color: #FFF;
        position: fixed;
        z-index: 9999;
        /* display: none; */
    }

    .chatHead {
        width: 100%;
        height: 54px;
        overflow: hidden;
        position: fixed;
        top: 0px;
        display: flex;
        z-index: 9999;
        display: -webkit-flex;
        background-color: #F9F9F9;
        -moz-user-select: none;
        /* Firefox私有属性 */
        -webkit-user-select: none;
        /* WebKit内核私有属性 */
        -ms-user-select: none;
        /* IE私有属性(IE10及以后) */
        -khtml-user-select: none;
        /* KHTML内核私有属性 */
        -o-user-select: none;
        /* Opera私有属性 */
        user-select: none;
        /* CSS3属性 */
        justify-content: space-between;
        line-height: 54px;
        border-bottom: 1px solid #E1E1E1;
        color: rgba(0,0,0,.85) !important;
    }

    .chatBack {
        height: 54px;
        line-height: 54px;
        padding-left: 10px;
    }

    .chatMore {
        height: 54px;
        line-height: 54px;
        padding-right: 10px;

    }

    .chatBody {
        padding-top: 0px;
    }

    /* .My{
    width: 90% !important;
  } */
</style>
<div class="chatBox" style="background-color: #F9F9F9;">
    <div class="chatBody">
        <div class="boxCardBox">
            <!-- <h2>Ta</h2> -->

            <div class="chat">
                <div class="chatItem">
                    <div class="chatItemList">
                        <div class="triangle"></div>
                        <span class="chatBubble">
                            你好，小竹。很高兴认识你！
                            很荣幸成为你的Ta，希望我们可以长长久久，一直陪伴彼此~
                        </span>

                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="chatItem My">
                    <div class="chatItemList">
                        <div class="triangleMy"></div>
                        <span class="chatBubbleMy">
                            你好。很高兴认识你！
                            很荣幸成为你的Ta，希望我们可以长长久久，一直陪伴彼此~
                        </span>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="chatItem">
                    <div class="chatItemList">
                        <div class="triangleMy"></div>
                        <span class="chatBubbleMy">
                            嘻嘻~
                        </span>
                    </div>
                    <div style="clear: both;"></div>
                </div>

            </div>
            <div class="chatEnter" id="input">
                <input type="text" class="chatEnterFrame" name="text" placeholder="">
                <div class="chatPhiz fas fa-paper-plane">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const ua = navigator.userAgent;
    const iOS = /iPad|iPhone|iPod/.test(ua);
    const input = document.querySelector('#input');

    input.addEventListener('focus', () => {
        setTimeout(() => {
            if (iOS) {
                if (!/OS 11_[0-3]\D/.test(ua)) {
                    document.body.scrollTop = document.body.scrollHeight;
                }
            } else {
                input.scrollIntoView(false);
            }
        }, 300);
    });
</script>