{include file="common/head"/}
<style>
    body{
        background-color: #F9F9F9;
    }
</style>
<div class="chatHead">
    <div class="chatBack" onclick="back()">
        <i class="fas fa-chevron-left"></i>
    </div>
    <div>Ta</div>
    <div class="chatMore">
        <i class="fas fa-grip-horizontal"></i>
    </div>
</div>
<div class="chatBox" style="background-color: #F9F9F9;">
    <div class="chatBody">
        <div class="boxCardBox">
            <div class="chat">
                <div class="chatItem">
                    <div class="chatItemList">
                        <div class="triangle"></div>
                        <span class="chatBubble">
                            你好，小竹。很高兴认识你！
                            很荣幸成为你的Ta，希望我们可以长长久久，一直陪伴彼此~
                        </span>

                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="chatItem My">
                    <div class="chatItemList">
                        <div class="triangleMy"></div>
                        <span class="chatBubbleMy">
                            你好。很高兴认识你！
                            很荣幸成为你的Ta，希望我们可以长长久久，一直陪伴彼此~
                        </span>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="chatItem">
                    <div class="chatItemList">
                        <div class="triangleMy"></div>
                        <span class="chatBubbleMy">
                            嘻嘻~
                        </span>
                    </div>
                    <div style="clear: both;"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="chatEnter" id="input">
    <input type="text" class="chatEnterFrame" name="text" placeholder="">
    <div class="chatPhiz fas fa-paper-plane">
    </div>
</div>
<script>
    // function responsive() {
    //     if (judgeBigScreen()) { //judgeBigScreen() 调用公共js里封装的函数，这里根据返回值 true 或false ,返回true的话 则为全面屏 。
    //         $(".chatEnter").css("height", "68px");
    //     } else {
    //         console.log("2");
    //     }
    // }
    // //初始化加载调用
    // responsive();

    // //监听屏幕变化调用
    // window.addEventListener('resize', function () {
    //     // console.log(222, judgeBigScreen())
    //     responsive();
    // })
</script>


<!-- 
<script>
    const ua = navigator.userAgent;
    const iOS = /iPad|iPhone|iPod/.test(ua);
    const input = document.querySelector('#input');

    input.addEventListener('focus', () => {
        setTimeout(() => {
            if (iOS) {
                if (!/OS 11_[0-3]\D/.test(ua)) {
                    document.body.scrollTop = document.body.scrollHeight;
                }
            } else {
                input.scrollIntoView(false);
            }
        }, 300);
    });
</script> -->