<style>
    .taCard {
        width: 94.5%;
        min-height: 300px;
        margin: auto;
        background-color: #FFF;
        border-radius: 10px;
        margin-top: 30px;
        box-shadow: #E1E1E1 0px 3px 8px;
        overflow: hidden;
    }

    .taAvatar {
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 90px;
        position: absolute;
        bottom: 0;
        margin-bottom: -65px;
        margin-left: 10px;
        border: 3px solid #FFF;
        box-shadow: #8E8F8F 0px 2px 8px;
    }

    .taAvatar img {
        width: 100%;
        height: 100%;
    }

    .taCardTop {
        width: 100%;
        height: 160px;
        background-color: #F5B9B9;
        /* overflow: hidden; */
        background-image: url('/static/images/bg/bg.jpg');
        background-size: cover;
        position: relative;
    }

    .userInfo {
        margin-left: 110px;
    }

    .userInfoName {
        font-size: 18px;
    }

    .userChat {
        width: 120px;
        height: 48px;
        line-height: 48px;
        background-color: #166EC2;
        float: right;
        border-radius: 10px 0px 0px 0px;
        color: #FFF;
        font-size: 20px;
    }

    .taTips {
        width: 100%;
        margin-top: 30vh;
        text-align: center;
        color: #ADADAD;
    }

    .taTime {
        padding: 5px 10px;
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 14px;
        background-color: rgba(59, 59, 59, 0.5);
        color: #FFF;
        /* margin-top: 10px; */
        border-radius: 10px 0px 0px 0px;
    }

    .taChatNum {

        padding: 5px 10px;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 14px;
        background-color: rgba(59, 59, 59, 0.5);
        color: #FFF;
        /* margin-top: 10px; */
        border-radius: 0px 0px 0px 10px;

    }
</style>



<div class="boxCard" id="boxCard">
    <div class="boxCardBox">
        <h2>Ta</h2>
        <p style="color: #8E8F8F;font-size: 14px;">亿万人海中，却是遇见你</p>
    </div>

    <!--Ta卡片-->
    {if $user.lock==1 && $user.lid!=null}
    <div class="taCard">
        <div class="taCardTop" id="taCardTop" style="background-image: url('{$lover.background}');">
            <div class="taTime">{$lovers.timeEnd|date="Y年m月d日 H:i"} 到期</div>
            <div class="taChatNum">0条未读消息</div>
            <div class="taAvatar">
                <img id="taAvatar" src="{$lover.avatar}">
            </div>
        </div>

        <div class="taCardBottom">
            <div class="userInfo">
                <div class="userInfoName" id="taUsername">
                    {$lover.username}
                </div>
                <div class="userTags">
                    <div id="taSign" class="userTag">
                        {$lover.sign}
                    </div>
                </div>
            </div>


        </div>
        <div class="userCard" style="border-radius: 0px;
        background-color: #FFF;
        height: auto;
        text-align: center;
        text-indent: 0px;">
            <div class="userCardLi">
                <div>
                    <i class="far fa-user"></i>
                    <span id="taAge">{$lover.age}岁</span>
                </div>
                <div>
                    <i class="fas fa-child"></i>
                    <span id="taHeight">{$lover.height}CM</span>
                </div>
                <div>
                    <i class="fas fa-map-marker-alt"></i>
                    <span id="taProvince">现居{$lover.province}</span>
                </div>

            </div>

            <div class="userChat" onclick="onChat()">
                <i class="fas fa-comments"></i>
            </div>

        </div>


    </div>

    <script>
        function onChat() {
            // window.location.href = "/home/index/chat/?id=" + "{$lover.id}";

            layer.open({
                type: 2,
                offset: 'b',
                anim: 'slideLeft',
                area: ['100%', '100%'],
                shade: 0.1,
                // closeBtn: 1,
                title: '{$lover.username}',
                shadeClose: true,
                id: 'siteBox',
                content: '/home/index/chat/?id={$lover.id}'
            });
        }
    </script>
    {else}
    <div class="taTips">
        呜呜呜，你还单身呢，快去Meet叭！
    </div>


    {/if}
</div>