{include file="common/head"/}
<div class="user" style="background: url(/static/images/avatar/1.jpg) fixed;">
    <!-- <img src="/static/images/avatar/1.jpg" width="100%"> -->
</div>
<div class="boxUser">
    <div class="userName">
        <div>{$user.username}</div>
        {if $user.sex==1}
        <div class="sex boy">
            <i class="fas fa-mars"></i>
        </div>
        {else}
        <div class="sex girl">
            <i class="fas fa-venus"></i>
        </div>
        {/if}
        <!-- <div class="headEdit2" onclick="userInfo()">
            <i class="fas fa-pen"></i>
        </div> -->
    </div>
    <!-- <div class="userTags"> -->

        <!-- <div class="userTag">暂无个性签名</div> -->

        <!-- <div class="userTag addTag">
            <i class="fas fa-plus"></i>
        </div> -->
    <!-- </div> -->
    <!-- <div class="school">
        <div>{$user.school}</div>
        <div class="schoolCut"></div>
        <div>{$user.education}</div>
    </div> -->

    <div class="userCard">
        <div class="userCardLi">
            <div>
                <i class="far fa-user"></i>
                <span>{$user.age}岁</span>
            </div>
            <div>
                <i class="fas fa-map-marker-alt"></i>
                <span>现居{$user.province}{$user.city}</span>
            </div>

        </div>
        <div class="userCardLi">
            <div>
                <i class="fas fa-child"></i>
                <span>{$user.height}CM</span>
            </div>
            <div>
                <i class="far fa-heart"></i>
                <span>{if $user.lock!=1}等待遇见{else}已经遇见{/if}</span>
            </div>

        </div>
    </div>


</div>

<div class="maxImages">
    <span></span>
    <img src="" alt="" class="maxImage">
</div>

<input type="hidden" value="{$user.id}" id="id">

<script>
    $(function () {
        var imgs = $(".postImages img");
        for (var i = 0; i < imgs.length; i++) {
            $(imgs[i]).click(function () {
                var imgUrl = $(this).attr("src");  //获取图片的地址
                $(".maxImages").css('display', 'block');
                $(".maxImage").slideDown().attr("src", imgUrl);//将图片的地址加载到新的地方放大            
            });
        }
        $(".maxImages").click(function () {
            $(".maxImages").css('display', 'none');
            $(".maxImages").css('animation', 'maxImages 0.5s 0;');
        });
    })


    $(window).scroll(function () {
        var scrollTop = $(window).scrollTop();
        if (scrollTop > 230) {
            $(".head").addClass("headBg");
        } else {
            $(".head").removeClass("headBg");
        }
    })
</script>